/* TODO: choose some more decent styles */
#loading {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  margin: 0;
  padding: 0;

  z-index: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #eee;

  font-family: 'Atkinson Hyperlegible', -apple-system, BlinkMacSystemFont,
  Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
  Helvetica Neue, sans-serif;

}

#loading p {
  padding: 20px;
}

#reload-button{
  font-family: 'Atkinson Hyperlegible', -apple-system, BlinkMacSystemFont,
  Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
  Helvetica Neue, sans-serif;
  padding: 1.2em;
  border-radius: 1.7vh;
  border: solid black 2px;
  transition: 200ms;
  font-weight: bold;
}

#reload-button:hover{
  color: white;
  background-color: black;
}