.modal {
  max-width: 45em;
  min-width: 30em;
  min-height: 10em;

  margin: 1em;

  border: solid 3px rgba(0, 0, 0, 0.05);
  border-radius: 1em;
}

.container {
  width: 100%;
  height: 100%; /* FIXME: I have no idea why it does not work */

  display: flex;
  flex-direction: column;

  font-size: 1.2em;
  line-height: 1.5em;
}

.content {
  flex-grow: 1;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.btn-close {
  /* TODO */
}
