---
// amogus
---

<script>
  import p5 from 'p5';

  function sketch(p) {
    let x = 100;
    let y = 100;
    let size = 50;

    let speedX = 4 * (Math.random() - 0.5);
    let speedY = 4 * (Math.random() - 0.5);

    p.setup = function () {
      p.createCanvas(700, 410);
    };

    p.draw = function () {
      p.background(0);
      p.fill(255);
      p.rect(x, y, size, size);

      x += speedX;
      y += speedY;

      if (x <= 0 || x + size >= p.width) {
        speedX = -speedX;
      }

      if (y <= 0 || y + size >= p.height) {
        speedY = -speedY;
      }

    };
  }

  /*
  se il componente viene riutilizzato i pezzi di HTML vengono ripetuti ma lo
  script viene eseguito una volta sola, quindi bisogna inizializzare lo sketch
  per ogni volta che è stato utilizzato il componente
  */
  for (const el of document.getElementsByClassName('interattivo1')) {
    new p5(sketch, el);
  }
</script>

<div class="interattivo1"></div>
